body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

header {
  background: rgb(244, 26, 117);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

nav {
  background: #ff91c6;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

section {
  padding: 40px;
}

.project-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.project {
  background: rgb(239, 134, 179);
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s;
}

.project:hover {
  transform: scale(1.05);
}

footer {
  background:  rgb(244, 26, 117);
  color: white;
  text-align: center;
  padding: 10px;
}

/* Dark Mode */
.dark {
  background: #121212;
  color: white;
}

.dark nav {
  background: #222;
}

.dark .project {
  background: #333;
}